.gallery-container {
  display: flex;
  align-items: center;
  background-color: #24283d;
  min-height: 100vh;
  flex-direction: column;
}

.gallery-navigation {
  width: 50%;
}

.gallery-list {
  display: flex;
  flex-direction: column;
}

.gallery-item {
  border: 1px solid white;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  width: 350px;
}
